*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color:black;
}
input, button{  
    outline: none;
    background-color: transparent;
}

.nav{
    opacity:0.5;
    position: absolute;
    display:none;
    flex-direction: row;
    top:0;
    right: 10%;
    padding:20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.menu{
    margin-top: 10vw;
    margin-right:10vw;
    display: none;
    position:absolute;
    flex-direction: column;
    right:0;
}
.smenu{
    border: 0 solid;
    background-color: transparent;
    font-size: 5vw;
    width:25vw;
    height:20vh;
    color:white;
}
#back{
    color:white;
}
.bot{
    font-size: 6rem;
    border:0 solid;
    background: none;
}
.right{
    border:0px solid;
    margin:10px 5px;
}
.container{
    width:100%;
    height:100%;
    transition: 1s;
}
.home{
    transition: 1s;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#f7f7f7 ;
}
.about_me{
    transition: 1s;
    display: none;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:#f7f7f7 ;
}
.works{
    transition: 1s;
    display: none;
    top:0;
    position:absolute;
    width:100%;
    margin:0;
    padding:0;
    position: absolute;
    background-color:#f7f7f7 ;
}
.connect{
    transition: 1s;
    display: none;
    top:0;
    justify-content: center;
    align-items: center;
    position:absolute;
    flex-direction:column;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:#f7f7f7 ;
}
.wrap, .about_me{
    padding:100px;
    /* position: relative; */
    color:black;
    /* text-align:center; */
}
.lg-text{
    font-size:5vw;
    font-weight:bold;
    margin-bottom:5px;
}

#dyname{
    position: relative;
    display:inline-block;
}
#dyname::after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    right:-10px;
    width:4px;
    height:100%;
    background-color:black;
}
#introduce{
    width:auto;
}
#dyname.active::after{
    display:none;
}
#mypoto{
    margin:50px;
}
.works{
    padding:50px 150px;
}
.project{
    display:flex;
    flex-direction: row;
    width:100%;
    height:70%;
    background-color: white;
    margin:50px 0;
    margin-right:50px;
}
.project > div{
    margin:50px;
}
.connect{
    font-size:5vw;
    color:black;
}

